option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: myproject.settings
    PYTHONPATH: /var/app/current/myproject
  # 靜態檔由 WhiteNoise 送，這裡不另外設 aws:elasticbeanstalk:environment:proxy:staticfiles

container_commands:
  01_collectstatic:
    command: "python myproject/manage.py collectstatic --noinput"
  02_migrate:
    command: "python myproject/manage.py migrate --noinput"
    leader_only: true
